*{
    margin: 0px;
    direction: rtl;
    font-size: 24px;

}
nav{
    width: 100%;
    background-color: pink;
    
}
.subnav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
a{
    display: block;
    color: goldenrod;
    text-decoration: none;

}
.subli{
    list-style: none;
    /* display: none; */

}
a:hover{
    background-color: goldenrod;
    color:pink;
    transition: 0.8s;
    
}